<%- include("cabeceras/index") %>
<body>
    <!-- VertexShader code here -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <span class="navbar-brand mb-0 h3">Videojuegos Tecla.com</span>
      </nav>
    <div class="contenedor">        
       Hello world
    </div>
</body>
<script src="js/index.js"></script>
</html>